Week_05/src/main/resources/META-INF/noob.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.noob.com/schema/noob"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.noob.com/schema/noob"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:complexType name="studentType">
        <xsd:attribute name="id" type="xsd:int"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="beanName" type="xsd:string"/>
    </xsd:complexType>
    <xsd:element name="student" type="studentType">
    </xsd:element>
    <xsd:element name="klass">
        <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="student"  minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:ID">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>

    </xsd:element>
</xsd:schema>